<select style="width:180px;" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    {% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
        <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
        {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
        </optgroup>{% endif %}{% endfor %}
</select>

<script type="text/javascript">
    $(function () {
        $('select[name="{{ widget.name }}"]').data('cur_select',-1).parent().append(
            '<img class="foreign-img" height="180px" style="padding-top:10px;display: block;clear:both;"></img>'
        )
        setInterval(function () {
            $('select.foreign-img-field').each(function () {
                    var curselect = $(this).val()
                    if(curselect != $(this).data('cur_select')){
                        $(this).data('cur_select',curselect)
                        var url = $(this).children('option:selected').data('url')
                        $(this).siblings('img.foreign-img').attr('src',url)
                    }
                }
            )
        }, 200)
    });
</script>


