<select style="width:360px;" name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %}>
    {% for group_name, group_choices, group_index in widget.optgroups %}{% if group_name %}
        <optgroup label="{{ group_name }}">{% endif %}{% for option in group_choices %}
        {% include option.template_name with widget=option %}{% endfor %}{% if group_name %}
        </optgroup>{% endif %}{% endfor %}
</select>

<script type="text/javascript">
    $(function () {
        $('select[name="{{ widget.name }}"]').data('cur_select', -1).parent().parent().parent().append(
            '<div id="img_container_{{ widget.name }}" class="many-to-many-img-field" style="padding-top:15px;display:block"></div>'
        )
        setInterval(function () {
            $('select[name="{{ widget.name }}').each(function () {
                    if ($(this).val() != $(this).data('cur_select')) {
                        $(this).data('cur_select', $(this).val())
                        $imgcontainer = $('#img_container_{{ widget.name }}')
                        $imgcontainer.find('img').remove()
                        $(this).find('option:selected').each(function () {
                            var url = $(this).data('url')
                            if (typeof(url) == "undefined") {
                                var picInfo = $(this).text().split('##@@')
                                if (picInfo.length == 3) {
                                    $(this).text(picInfo[1]).data('url', picInfo[2])
                                    url = picInfo[2]
                                }
                            }
                            $imgcontainer.append($('<img height="180px" style="padding-right:5px;padding-bottom:5px"></img>').attr('src', url))
                        })
                        if ($imgcontainer.children().length == 0) {
                            $imgcontainer.append($('<img height="180px" style="padding-right:5px"></img>').attr('src', "/medias/img_not_select.png"))
                        }
                    }
                }
            )
        }, 200)
    });
    $(function () {
        $('select[name="{{ widget.name }}').change(function () {
        }).multipleSelect({});
        $('select[name="{{ widget.name }}').parents().css({'overflow': 'visible', 'min-height': '36px'})
        $('select[name="{{ widget.name }}').each(function () {
            $(this).data('option_num', $(this).children('option').length)
        })
        setInterval(function () {
            $('select[name="{{ widget.name }}').each(function () {
                if ($(this).children('option').length != $(this).data('option_num')){
                    $(this).data('multipleSelect').refresh()
                    $(this).data('option_num',$(this).children('option').length)
                }
            })
        }, 200)
    });

</script>


